plugins {
  id 'nf-rescale-hpc@0.4.0'
}

executor {
    name = 'rescale-executor'
    queueSize = 2
}

process {
  withName: select_hardware {
    executor='local'
  }
  withLabel: abaqus_job {
    executor='rescale-executor'
    ext.jobAnalyses=[[
      analysisCode: "abaqus",
      analysisVersion: "2023-hf4",
      onDemandLicenseSeller: ["code":"rescale", "name":"Rescale"]
    ]]
    machineType={coretype_code}
    cpus={corecount}
    ext.wallTime=2
    ext.billingPriorityValue="INSTANT"
  }
  withLabel: abaqus_datacheck {
    executor='rescale-executor'
    ext.jobAnalyses=[[
      analysisCode: "abaqus",
      analysisVersion: "2023-hf4",
      onDemandLicenseSeller: ["code":"rescale", "name":"Rescale"]
    ]]
    machineType="malachite"
    cpus=2
    ext.wallTime=1
    ext.billingPriorityValue="INSTANT"
  }
}

env {
  RESCALE_PLATFORM_URL = "https://platform.rescale.com"
}